<ion-header>
  <ion-title> IOYAB </ion-title>
</ion-header>

<ion-content ngClass="menu-pane">
  <ion-grid class="ion-no-border">
    <ion-row>
      <ion-col>
        <a href="">
          <ion-card>
            <ion-card-content>
              <p ngClass="text">Vous devez</p>
              <p class="big">8</p>
              <p ngClass="text right">conso(s)</p>
            </ion-card-content>
          </ion-card>
        </a>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <p ngClass="text">On vous doit</p>
            <p class="big">12</p>
            <p ngClass="text right">conso(s)</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <a href="group">
          <ion-card>
            <ion-card-content>
              <p ngClass="text">Mes groupes</p>
              <ion-icon name="people"></ion-icon>
            </ion-card-content>
          </ion-card>
        </a>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <p ngClass="text">Mes demandes</p>
            <ion-icon name="list"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <p ngClass="text">Mes trophées</p>
            <ion-icon name="trophy"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
